div.d3-tip, #generic_tooltip {
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
line-height: 20px;
padding: 8px;
display: inline-block;
max-width: 400px;
z-index: 11000;
/*position: absolute;*/
color: #5a5a5a;
background-color: #FFF;
border: 1px solid lightgrey;
word-wrap: break-word;
opacity: 100;

}

div.tooltip {
    background: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    border: solid orange;
    position: absolute;
    max-width: 8em;
    text-align:center;
}

.x_axis_diagonal_labels:hover{
    fill: orange;
}

/* legend button styling */
#legend_btn {
    font:20px sans-serif;
    background: white;
    color: #FF3300;
}

/* for the hover bar styling */
.bar {
  fill: white;
    opacity: 0;
}

.bar:hover{
  fill: #FFA62F;
    opacity: 0.5;
}

/* nesesary for the table to have no border */
table, th, td {
    border: 0px;
    padding: 5px;
    font-family:sans-serif;
    font-size: 16px;
    white-space: nowrap;
}


/* nesesarry for the horizontal grid lines to show*/
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    
}

.grid text{
    font-family:sans-serif;
    font-size: 16px;
    stroke: black;
    color: black;
    shape-rendering: crispEdges;

}
/* if this goes there is a filling when the trend line is put on*/
path { 
    fill:none;  
    stroke: black;
    stroke-width:1;
}
/* controls width of the outside of the graph */
rect {
    stroke-width: 2;
}


